.DS_Store
interop.xcodeproj/project.xcworkspace/xcuserdata/danielwallace.xcuserdatad/UserInterfaceState.xcuserstate
interop.xcodeproj/project.xcworkspace/xcuserdata/danw.xcuserdatad/UserInterfaceState.xcuserstate
interop.xcodeproj/xcuserdata/danielwallace.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
interop.xcodeproj/xcuserdata/danw.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
